/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Responsive Layout */
@media (max-width: 768px) {
    .profile-page {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        position: relative;
        box-shadow: none;
        margin-bottom: 20px;
    }

    .main-content {
        margin-left: 0;
        width: 100%;
        padding: 20px;
    }
}

/* Sidebar and Profile Section Styles */
.profile-page {
    display: flex;
}

.sidebar {
    width: 300px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100%;
}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 15px;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 20px;
}

.nav-list li {
    margin-bottom: 15px;
}

.nav-list a {
    text-decoration: none;
    color: #333;
    font-size: 1em;
}

.nav-list a:hover {
    text-decoration: underline;
}

.contact-details img {
    width: 64px;
    height: 64px;
    margin: 10px;
}

/* Main Content Area */
.main-content {
    margin-left: 320px;
    padding: 40px;
    width: calc(100% - 320px);
}

/* Section Styles */
section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

section h2 {
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 20px;
    color: #333;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 5px;
}

/* Work Experience, Certifications, Publications, GitHub, and Education Styles */
.skills-list,
.work-experience-list,
.publication-list,
.certification-list ul,
.education-list {

    padding: 10px;
}

.skills-list li,
.work-experience-list li,
.publication-list li,
.certification-list li,
.education-list li {
    margin-bottom: 20px;
}

.skills-list h3,
.work-experience-list h3,
.publication-list li strong,
.certification-list li strong,
.education-list li strong {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 5px;
}

.work-experience-list ul,
.education-list ul {
    list-style-type: disc;
    padding-left: 40px;
    margin-top: 10px;
}

#github-portfolio a {
    font-size: 1em;
    color: #333;
    text-decoration: none;
    border-bottom: 1px dashed #333;
}

#github-portfolio a:hover {
    text-decoration: underline;
}